<mat-card>
  <h1>Demandes</h1>
</mat-card>

<form novalidate #myForm="ngForm">
  <kendo-grid
    [data]="view | async"
    [height]="533"
    [sort]="gridState.sort"
    [sortable]="true"
    (dataStateChange)="onStateChange($event)"
    (edit)="editHandler($event)"
    (cancel)="cancelHandler($event)"
    (save)="saveHandler($event)"
    (remove)="removeHandler($event)"
    (add)="addHandler($event, myForm)"
    [navigable]="true"
  >
    <kendo-grid-column field="refDemande" title="ref Demande">
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <input
          [(ngModel)]="dataItem.refDemande"
          kendoGridFocusable
          name="refDemande"
          class="k-textbox"
          required
        />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="refUser" editor="numeric" title="Ref User">
      <ng-template kendoGridEditTemplate let-dataItem="dataItem">
        <input
          [(ngModel)]="dataItem.refUser"
          kendoGridFocusable
          name="refUser"
          class="k-textbox"
          type="text"
        />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-command-column title="command" width="220">
      <ng-template kendoGridCellTemplate let-isNew="isNew">
        <button type="button" [primary]="true">
          Show detail
        </button>

      </ng-template>
    </kendo-grid-command-column>
  </kendo-grid>
</form>
