<mat-card>
  <h1>Demandes</h1>
</mat-card>
<mat-tab-group>
  <mat-tab label="Historique des demandes">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="refClient">
        <th mat-header-cell *matHeaderCellDef> refClient </th>
        <td mat-cell *matCellDef="let element"> {{element.refClient}} </td>
      </ng-container>

      <ng-container matColumnDef="service">
        <th mat-header-cell *matHeaderCellDef> service </th>
        <td mat-cell *matCellDef="let element"> {{element.service}} </td>
      </ng-container>

      <ng-container matColumnDef="motifRec">
        <th mat-header-cell *matHeaderCellDef> motifRec </th>
        <td mat-cell *matCellDef="let element"> {{element.motifRec}} </td>
      </ng-container>

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> image </th>
        <td mat-cell *matCellDef="let element"> {{element.image}} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef> message </th>
        <td mat-cell *matCellDef="let element"> {{element.message}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-tab>
  <mat-tab label="Nouvelle demande">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
      <button type="submit" class="btn btn-default">Save</button>
    </form>
  </mat-tab>
</mat-tab-group>
